.title{
    text-align: center;
    margin-bottom: 2rem;
}

.insert_form{
    margin-bottom: 1rem;
    display: block;
}

.prod_label{
    font-size: var(--size-lg);
}

.prod_input{
    width: 100%;
    margin-bottom: 1rem;
    padding: .3rem .5rem;
    outline: none;
    font-size: var(--size-base);
}

.slt_section{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.slt_opt{
    outline: none;
    padding: 0.2rem;
}

.img_selection{
    display: block;
    margin-bottom: 1rem;
}

.prod_img_title{
    font-size: var(--size-lg);
}

.product_img_input{
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
}

.product_img_input::file-selector-button{
    background-color: var(--clr-light);
    border: .2px solid var(--clr-dark);
    outline: none;
    transition: .5s;
}

.product_img_input::file-selector-button:hover{
    border: 1px solid var(--clr-rose);
    background-color: #b18595;
}

.prod_price{
    font-size: var(--size-lg);
}

.product_price{
    width: 100%;
    margin-bottom: 1rem;
    padding: .3rem .5rem;
    outline: none;
    font-size: var(--size-base);
}